.wrapper_with_padding
	#document_show
		%h1.title= @document.title
		%p= simple_format(@document.content)
	.buttons	
		= link_to 'editar documento', edit_document_path(@document), class: "button" 
		= link_to 'Eliminar documento', document_path(@document), method: :delete, data: {confirm: "Estas de acuerdo en eliminar este documento: #{@document.title}"}, class: "button" 

= link_to 'Todos los documentos', documents_path
